.image {
  grid-area: image;
  img {
    width: 400px;
  }
}
.title {
  grid-area: title;
  margin: 0;
}
.abstract {
  grid-area: abstract;
  margin: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(110%);
  }
  50% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeftSlowly {
  0% {
    transform: translateX(-110%);
  }
  66% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "title image"
    "abstract image";
  grid-gap: 8px;
  margin: 0 20px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  &.last {
    animation: 3s ease-out 0s 1 slideInFromLeftSlowly;
  }
}

.grid-container-inverse {
  display: grid;
  grid-template-areas:
    "image title"
    "image abstract";
  grid-gap: 8px;
  margin: 0 20px;
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@media only screen and (max-width: 675px) {
  .image img {
    width: 55vw;
  }
  .grid-container {
    grid-template-areas:
      "title image"
      "abstract abstract";
  }
  .grid-container-inverse {
    grid-template-areas:
      "image title"
      "abstract abstract";
  }
}
