.app {
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  &.dark-mode {
    background-color: #050505;
    h1,
    h2,
    h3,
    p {
      color: whitesmoke;
    }
  }
  h1 {
    color: #282c34;
    font-size: calc(14px + 2vmin); // 32px default
  }
  h2 {
    color: #282c34;
    font-size: calc(10px + 2vmin); // 24px default
  }
  h3 {
    color: #282c34;
    font-size: calc(10px + 1vmin); // 18px default
  }
}
