.app {
  text-align: center;
  overflow-x: hidden;

  h1 {
    color: #282c34;
    font-size: calc(14px + 2vmin); // 32px default
  }
  h2 {
    color: #282c34;
    font-size: calc(10px + 2vmin); // 24px default
  }
  h3 {
    color: #282c34;
    font-size: calc(10px + 1vmin); // 18px default
  }

  .app-header {
    background-color: #050505;
    min-height: 50%;
    max-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    nav {
      ul.app-header-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 12% 0 40px;
        padding: 0;
        li {
          list-style-type: none;
          white-space: nowrap;
          .link {
            text-decoration: none;
            color: white;
            -o-transition: 0.25s;
            -ms-transition: 0.25s;
            -moz-transition: 0.25s;
            -webkit-transition: 0.25s;
            transition: 0.25s;
            position: relative;
            &:hover {
              color: #61dafb;
              .sublinks {
                visibility: visible;
                opacity: 1;
              }
            }
            .sublinks {
              visibility: hidden;
              opacity: 0;
              transition: visibility 0.25s, opacity 0.25s linear;
              position: absolute;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              background-color: #050505;
              border: #047695 solid 1.5px;
              // border: #61dafb solid 1.5px;
              border-radius: 4px;
              padding: 0 8px 4px 8px;
              z-index: 1;
              .link {
                font-size: calc(10px + 1.5vmin);
              }
            }
          }
        }
      }
    }
    .app-logo {
      max-height: 90px;
      max-width: 90px;
      height: 40vmin;
      pointer-events: none;
    }
  }

  @media only screen and (max-width: 675px) {
    .app-header {
      max-height: unset;
      nav {
        ul.app-header-list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 10px;
          li.welcome-link {
            padding-bottom: 10px;
          }
          li:not(.welcome-link) {
            padding-left: 10px;
          }
        }
      }
      .app-logo {
        max-height: 100px;
        max-width: 100px;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: app-logo-spin infinite 20s linear;
    }
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
