@import "~react-vis/dist/style";

.chess-data {
  margin-bottom: 60px;
  circle {
    visibility: hidden;
    cursor: pointer;
  }
  g.rv-xy-plot__axis--horizontal {
    text.rv-xy-plot__axis__tick__text {
      text-anchor: end;
      transform: translate(6px, 10px) rotate(-30deg);
    }
  }
}
