.board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 60px;
  h1 {
    margin-left: 25px;
    margin-right: 25px;
  }
}
