.home-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 20px 40px 60px 40px;
}

@media only screen and (max-width: 675px) {
  .home-text {
    margin: 20px 20px 60px 20px;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
  width: 84px;
  a {
    height: 36px;
  }
}
