.app {
  .resume-pdf-wrapper {
    height: calc(100vh - 91.5px);
    .resume {
      height: 100%;
    }
    h3 {
      margin-top: 0;
      padding-top: 1em;
    }
    img {
      width: 60vw;
      height: auto;
      border: 1.5px solid black;
      border-radius: 4px;
    }
  }
  &.dark-mode {
    img {
      border-color: #047695;
    }
  }
  @media only screen and (max-width: 675px) {
    .resume-pdf-wrapper {
      // Related to line-height of 1.35 in header.scss
      height: calc(100vh - (1.35 * (60px + 12vmin)) - 31.5px);
      img {
        width: 90vw;
      }
    }
  }
}
