.app {
  button {
    background: none;
    border: none;
    height: max-content;
    margin: auto 0;
    &:hover,
    &:focus {
      cursor: pointer;
    }
    .MuiSvgIcon-root {
      color: #050505;
    }
  }
}
.app.dark-mode {
  button {
    .MuiSvgIcon-root {
      color: whitesmoke;
    }
  }
}
